@font-face {
  font-family: "iconfont"; /* Project id 3449330 */
  src: url('//at.alicdn.com/t/c/font_3449330_9bg8wdv54fr.woff2?t=1663513721550') format('woff2'),
       url('//at.alicdn.com/t/c/font_3449330_9bg8wdv54fr.woff?t=1663513721550') format('woff'),
       url('//at.alicdn.com/t/c/font_3449330_9bg8wdv54fr.ttf?t=1663513721550') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-github:before {
  content: "\e6ea";
}

.icon-morentouxiang:before {
  content: "\e8c9";
}

.icon-youjian:before {
  content: "\e668";
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-lianjie:before {
  content: "\e63f";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-guidang:before {
  content: "\e628";
}

.icon-resume-line:before {
  content: "\e64a";
}

.icon-fenlei:before {
  content: "\e638";
}

